<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jihon.cst2335_final_project">
<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizCreator" />
        <activity android:name=".Movie" />
        <activity android:name=".OCTranspo" />
        <activity android:name=".PatientIntake" />
        <activity android:name=".AddMovie" />
        <activity android:name=".MovieDetails" />
        <activity android:name=".MovieImport" />
        <activity android:name=".MoviePoster"></activity>
    </application>

</manifest>